@font-face {
    font-family: 'Roboto' ;
    font-weight: 400;
    src: url(assets/fonts/webfontkit-20240411-081716/roboto-regular-webfont.woff2) format('woff2'),
    url(assets/fonts/webfontkit-20240411-081716/roboto-regular-webfont.woff) format ('woff');
}
@font-face {
    font-family: 'Roboto' ;
    font-style: italic;
    font-weight: 300;
    src: url(assets/fonts/webfontkit-20240411-081716/roboto-light-webfont.woff2) format('woff2'),
    url(assets/fonts/webfontkit-20240411-081716/roboto-light-webfont.woff) format ('woff');
}
body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    line-height:1.5;
    font-weight: 300;
}

.header-logo {
    color: #F9FAF8 ;
    font-size: 24px;
    font-weight: 700px;
    margin: 20px 20px 20px;
    margin-left: 100px;
}
.lists {
    list-style-type: none;
    color: #b1b3b8;
    font-size: 18px;
    margin: 20px 20px 20px;
    margin-right: 100px;


}
li {
    display: inline-block;
    margin-right: 25px;
}
.navbar {
    background-color: #1F2937;
    width:100%;
    font-family: roboto;
    padding: 15px 15px;
}
.navdiv{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    
}
body{
    margin:0;
}

.container2{
    background-color: #1F2937;width:100%;
    font-family: roboto;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font: weight 800px;;
    margin-top: 0;
    margin-bottom: 0;
}
.item {
    padding-left: 100px;
}
.image{
    box-sizing: border-box;
    margin-right: 120px;
    
}

p{
    margin-top: 0;
    margin-bottom: 10;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    padding-right: 50 px;

}
.text{
    padding-right: 100px;
    font-weight: 10;
}
.button {
background-color:#3882F6;
color: #E5E7EB;
margin-right: 300px;
font-size: 10px;
font-weight: 800;
border-radius: 4px;
font-size: 10;
height: 35px;
width: 150px;

}